@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i");
/* Fonts:
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
Colors:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */

body {
  margin: 0px;
  font-family: 'Merriweather',serif,sans-serif;
  background: #F2F1E8;
  color: #131511;
  padding-top: 40px;
}
blockquote {
  font-style: italic;
  border-left: solid 2px;
  overflow: hidden;
  font-weight: lighter;
  padding:1em;
}
a.selected{
  color: #968772;
}
.wide-margin{
  margin:1em 5em;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row;

}
.newsletter-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.content1{
  display:flex;
  justify-content: flex-start;
  padding:.5em;

}
.home-images-large{
  display:flex;
  justify-content: space-between;
  height:25em;
}
.home-images-small{
  display:flex;
  justify-content: space-between;
  height: 15em;
}

.large-wide-image1{
  background-image: url("./images/product-1.jpg");
  background-size:cover;
  flex-grow: 3;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.large-thin-image1{
  background-image: url("./images/product-2.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.large-thin-image2{
  background-image: url("./images/product-3.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-thin-image1{
  background-image: url("./images/product-4.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-thin-image2{
  background-image: url("./images/product-5.jpg");
  background-size:cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
  margin: .5em;
}
.small-thin-image3{
  background-image: url("./images/product-7.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-wide-image1{
  background-image: url("./images/product-6.jpg");
  background-size:cover;
  flex-grow: 2;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.section-header-image{
  background-image: url("./images/background-3.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  color:white;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1em;
}
.section-small{
  width:55%;
  margin-left: 0em 5em;
}

.plans{
width:100%;
margin: 1em 5em 2em 5em;
}

.birdhouse{
  max-width: 20%;
  max-height: 20%;
  float: left;
  margin-right:10px;
}
a{
  color:#968772;
}
li>a{
  color:#2B2F26;
}
aside{
  margin: 1em;
  width: 30%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
aside img {
width: 20em;
height:10em;
}
footer{
  background-color: #20241c;
  color:#F2F1E8;
  padding: 1em;
  font-family: 'Merriweather';
  margin-top:2em;
}
input{
  width: 20em;
  height: 5em;
  color:#968772;
  padding:1em;
}
h4{
  color:#F2F1E8;
  background-color: #20241c;
  padding: 1em;
}
h1 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Merriweather';
  font-weight: normal;
  margin-bottom:0px;
}
h1.heading {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Merriweather';
  font-weight: normal;
  margin-bottom:.8em;
}
h3{
  font-size: 1.5em;
  font-family: 'Merriweather';
  font-weight: lighter;
  margin-top:0px;
}
.h3-center{
  font-size: 4em;
  font-family: 'Merriweather';
  font-weight: lighter;
  text-align: center;
  margin-top:2em;
}
.heading>h3{
  text-align:center;
  font-size: 2em;
  font-family: 'Merriweather';
  font-weight: lighter;
  margin-top:0px;
}
ul{
  display:flex;
  flex-grow:1;
  justify-content:space-around;
  list-style: none;
  align-items: center;
}
main {
  width:40em;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-bar {
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

#logo {
  float: left;
  position: relative;
  margin: 5px 5px 5px 5px;
  height: 40px;
  width: 40px;
}

table {
    border-collapse: collapse;
}
.trcolor{
  background-color: #efe5d4;
}
table, th, td {
    border: 1px solid;
}
td, th {
  padding:1em;
}
