@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i");
/* Fonts:
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
Colors:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */
html, body {
  height:100%;
  width: 100%;
}
body {
  margin: 0px;
  font-family: 'Merriweather',serif,sans-serif;
  background: #F2F1E8;
  color: #131511;
  padding-top: 40px;
}
blockquote {
  font-style: italic;
  border-left: solid 2px #131511;
  overflow: hidden;
  font-weight: lighter;
  padding:1em;
}
a.selected{
  color: #968772;
}
li>a:hover{
  color: #CD5D67
}
p>a:hover{
  color:#967343
}
form{
display:block;
text-align: center;
}
a{
  color:#968772;
}
li>a{
  color:#2B2F26;
}
aside{
  margin: 1em;
  width: 30%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
aside img {
width: 20em;
height:10em;
}
aside img:hover{
  transition: all 0.7s ease;
  transform: scale(1.2);
}
footer{
  background-color: #20241c;
  color:#F2F1E8;
  padding: 1em;
  font-family: 'Merriweather';
  margin-top:2em;
}
input{
  width: 50%;
  height: 50%;
  color:#968772;
}

h4{
  color:#F2F1E8;
  background-color: #20241c;
  padding: 1em;
}
h1 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Merriweather';
  font-weight: normal;
  margin-bottom:0px;
}
h1.heading {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Merriweather';
  font-weight: normal;
  margin-bottom:.8em;
}
h3{
  font-size: 1.5em;
  font-family: 'Merriweather';
  font-weight: lighter;
  margin-top:0px;
}
main {
  width:40em;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: 'Roboto';
  font-size: 1.2em;
}
li {
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
  text-decoration: none;
}
.wide-margin{
  margin:1em 5em;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row;

}
.newsletter-wrapper{
  display: flex;
  justify-content: center;
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
}

.signup-div{
  background:white;
  height:50%;
  width: 50%;
  position:relative;
  top:4em;
  padding: 15px 5px;
}

.signup-form{
  background:white;
  width: 90%
  padding:15px 5px;
}

.signup-h1{
  font-size: 1.8em;
  font-weight: lighter;
  text-align: center;
  margin: .5em;
}
.signup-h3{
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
}

#nameInput{
  width: 90%;
  border-bottom: solid 2px #968772;
  border-left: none;
  border-right:none;
  border-top:none;
  margin: 15px;
  font-size:1em;
  padding: 0px 0px 5px 0px;
}
#nameInput:focus{
  border-bottom: solid 2px #967343;
  transition: all 0.7s ease;
  transform:scale(1.1);
}
#emailInput{
  width:90%;
  border-bottom: solid 2px #968772;
  border-left: none;
  border-right:none;
  border-top:none;
  margin: 15px;
  font-size: 1em;
  padding: 0px 0px 5px 0px;
}
#emailInput:focus{
  border-bottom: solid 2px #967343;
  transition: all 0.7s ease;
  transform:scale(1.1);
}
#signupButton{
  width:20%;
  height:20%;
  align-self: center;
  margin: 15px;
  background-color: #968772;
  padding: 1em;
  font-size: 1em;
  color: #F2F1E8;
  border: none;
}
#signupButton:hover{
  color: #FFFFFF;
  background-color: #967343;
}
.content1{
  display:flex;
  justify-content: flex-start;
  padding:.5em;

}
.home-images-large{
  display:flex;
  justify-content: space-between;
  height:25em;
}
.home-images-small{
  display:flex;
  justify-content: space-between;
  height: 15em;
}

.large-wide-image1{
  background-image: url("./images/product-1.jpg");
  background-size:cover;
  flex-grow: 3;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.large-wide-image1:hover{
  transition: all 0.7s ease;
  transform: translatex(1.3em);
}
.large-thin-image1{
  background-image: url("./images/product-2.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.large-thin-image1:hover{
  transition: all 0.7s ease;
  transform: translatey(1.3em);
}
.large-thin-image2{
  background-image: url("./images/product-3.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.large-thin-image2:hover{
  transition: all 0.7s ease;
  transform: scale(.8);
}
.small-thin-image1{
  background-image: url("./images/product-4.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-thin-image1:hover{
  transition: all 0.7s ease;
  transform: translateX(1.3em);
}
.small-thin-image2{
  background-image: url("./images/product-5.jpg");
  background-size:cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
  margin: .5em;
}
.small-thin-image2:hover{
  transition: all 0.7s ease;
  transform: translatey(1.3em);
}
.small-thin-image3{
  background-image: url("./images/product-7.jpg");
  background-size:cover;
  flex-grow: 1;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-thin-image3:hover{
  transition: all 0.7s ease;
  transform:scale(.8);
}
.small-wide-image1{
  background-image: url("./images/product-6.jpg");
  background-size:cover;
  flex-grow: 2;
  margin: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.small-wide-image1:hover{
transition: all 0.7s ease;
transform: scale(1.3);
}
.section-header-image{
  background-image: url("./images/background-3.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  text-align: center;
  color:white;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1em;
}
.section-small{
  width:55%;
  margin-left: 0em 5em;
}

.plans{
width:100%;
margin: 1em 5em 2em 5em;
}

.birdhouse{
  max-width: 20%;
  max-height: 20%;
  float: left;
  margin-right:10px;
}

.birdhouse:hover{
  transition: all 0.7s ease;
  transform: scale(1.3);
}

.h3-center{
  font-size: 4em;
  font-family: 'Merriweather';
  font-weight: normal;
  text-align: center;
  margin-top:2em;
}
.heading>h3{
  text-align:center;
  font-size: 2em;
  font-family: 'Merriweather';
  font-weight: lighter;
  margin-top:0px;
}

.nav-bar {
  background-color: white;
  position: fixed;
  width: 100%;
  top:0px;
}

#logo {
  float: left;
  position: relative;
  margin: 5px 5px 5px 5px;
  height: 40px;
  width: 40px;
}

table {
    border-collapse: collapse;
}
.trcolor{
  background-color: #efe5d4;
}
table, th, td {
    border: 1px solid;
}
td, th {
  padding:1em;
}
