/* Fonts:
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
Colors:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */

body {
  margin: 0px;
  font-family: 'Roboto','Merriweather',sans-serif,serif;
  background: #F2F1E8;
  color: #131511;
  padding-top: 40px;
}
blockquote {
  font-style: italic;
  border-left: solid 2px;
  overflow: hidden;
  font-weight: lighter;
  padding:1em;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row;
  margin: 10px;
}
.newsletter-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.content1{
  display:flex;
  justify-content: flex-start;
  padding:.5em;

}
.content{
  display:flex;
  justify-content: space-between;
  padding:.5em;
  width: 100%;
  height:50%;
  flex-wrap: wrap;

}

.large-wide-image1{
  background-image: url("./images/product-1.jpg");
  background-size:cover;
  display: flex;
  flex: 2 0 auto;
}
.large-thin-image1{
  background-image: url("./images/product-2.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.large-thin-image2{
  background-image: url("./images/product-3.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.small-thin-image1{
  background-image: url("./images/product-4.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.small-thin-image2{
  background-image: url("./images/product-5.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.small-thin-image3{
  background-image: url("./images/product-7.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.small-wide-image1{
  background-image: url("./images/product-6.jpg");
  background-size:cover;
  display: flex;
  flex: 1 0 auto;
}
.section-header-image{
  background-image: url("./images/background-3.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  color:white;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-small{
  width:60%;
}

.birdhouse{
  max-width: 20%;
  max-height: 20%;
  float: left;
  margin-right:10px;
}
aside{
  margin: 1em;
  width: 30%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
aside img {
width: 20em;
height:10em;
}
footer{
  background-color: #131511;
  color:#F2F1E8;
}
input{
  width: 20em;
  height: 5em;
  color:#968772;
  padding:1em;
}
h4{
  color:#968722;
}
ul{
  display:flex;
  flex-grow:1;
  justify-content:space-around;
  list-style: none;
  align-items: center;
}
main {
  width:40em;
}
nav {
  background-color: white;
  padding:10px;
  display:flex;
  flex-grow: 1;
  justify-content:space-around;
  list-style: none;
  align-items: center;
  position: fixed;
  top:0px;
  width:100%;
}
nav img {
  width:30%;
  height:30%;
}

#logo {
margin-right:0px;
}

table {
    border-collapse: collapse;
}
.trcolor{
  background-color: #efe5d4;
}
table, th, td {
    border: 1px solid;
}
td, th {
  padding:1em;
}
